@font-face {
	font-family: "Museo500";
	src: url("../fonts/museo_sans_cyrl_300.eot");
	src: local("☺"), url("../fonts/museo_sans_cyrl_300.woff") format("woff"),
		url("../fonts/museo_sans_cyrl_300.ttf") format("truetype"), url("../fonts/museo_sans_cyrl_300.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Museo700";
	src: url("../fonts/MuseoSansCyrl_2.eot");
	src: local("☺"), url("../fonts/MuseoSansCyrl_2.woff") format("woff"),
		url("../fonts/MuseoSansCyrl_2.ttf") format("truetype"), url("../fonts/MuseoSansCyrl_2.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Museo900";
	src: url("../fonts/MuseoSansCyrl_3.eot");
	src: local("☺"), url("../fonts/MuseoSansCyrl_3.woff") format("woff"),
		url("../fonts/MuseoSansCyrl_3.ttf") format("truetype"), url("../fonts/MuseoSansCyrl_3.svg") format("svg");
	font-weight: 900;
	font-style: normal;
}
